header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  flex-flow: row nowrap;
}

#header-icon {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

nav[class="header-nav"] {
  display: flex;
  flex: 1;
  text-decoration: none;
  color: #f1f2f6;
  padding-left: 10px;
  align-items: center;
}

.header-nav * {
  text-decoration: none;
  font-weight: 600;
  color: #f1f2f6;
  margin: 0 20px;
}
.header-nav *:hover {
  transform: translateY(-3px);
}

#contact {
  width: 100px;
  padding-top: 12px;
}

#contact * {
  margin: 5px;
  text-decoration: none;
  color: #f1f2f6;
}
.contact-more {
  position: absolute;
  top: 45px;
  background-color: #2f3542;
  width: 100px;
}
.contact-more > a {
  display: none;
}

#contact:hover .contact-more > a {
  background-color: #2f3542;
  display: block;
}
#contact:hover {
  background-color: #2f3542;
}
