@import url('mainAnimation.css');

main.mainClass  section{
    position: absolute;
    height: 200px;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  main.mainClass section span label{
    display: inline-block;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: #1e272e;
    cursor: pointer;
  }
  main.mainClass span[class^="icon"]{
    display: block;
    text-align: center;
    font-size: 30px;
  }
