@import url('resume.css');

main.mainClass  header {
    position: absolute;
    top: 0;
    height: 30px;
    width: 100%;
    background: #006266;
  }

main.mainClass  footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
    background: #006266
  }

main.mainClass  section{
    position: absolute;
    height: 200px;
    width: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  main.mainClass section span label{
    display: inline-block;
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    text-decoration: none;
    font-size: 30px;
    color: #1e272e;
    cursor: pointer;
  }
  main.mainClass span[class^="icon"]{
    display: block;
    text-align: center;
    font-size: 30px;
  }
  main.mainClass span:hover>span:nth-of-type(1){
    animation-name: jumpIcon;
    animation-duration: 2s;
  }



  @keyframes jumpIcon{
    20%{
      transform: translateY(-3px);
    }
    25%{
      transform: translateY(-6px);
    }
    30%{
      transform: translateY(-10px);
    }
    35%{
      transform: translateY(-6px);
    }
    40%{
      transform: translateY(-3px);
    }
    45%{
      transform: translateY(0);
    }
    55%{
      transform: translateY(-2px);
    }
    60%{
      transform: translateY(-4px);
    }
    65%{
      transform: translateY(-6px);
    }
    70%{
      transform: translateY(-4px);
    }
    75%{
      transform: translateY(-2px);
    }
    80%{
      transform: translateY(0);
    }
    85%{
      transform: translateY(-1px);
    }
    90%{
      transform: translateY(-3px);
    }
    95%{
      transform: translateY(-1px);
    }
    100%{
      transform: translateY(0);
    }
  }
