@import url('resumeAnimation.css');

.resumeClass{
  width: 100vw;
  height: 100vh;
  background-image: url(../resume/img/b.gif);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
}

  .resumeClass pre{
      border-radius: 1px;
      overflow: auto;
      background: rgb(48, 48, 48);
      border: 1px solid #ccc;
      color: white;
      max-height: 90vh;
      width: 35%;
      font-size: 14px;
      font-family: monospace;
      padding: 1vh 0.5vw;
      box-shadow: -4px 4px 2px 0 rgba(0, 0, 0, 0.3);
      white-space: pre-wrap;
      outline: 0;
      margin: 1vh 0.5vw;
      transform: translateX(-100%) scale(0);
}
  .skillBoard {
    width: 25%;
    margin-left:25%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    transform: translateX(80%);
    transition: 1s;
  }

  .skillBoardNav {
    color:#ecf0f1;
    font-weight: bold;
    text-align: center;
    align-self: center;
    justify-self:end;
    height: 90px;
    border-radius: 2px;
    background:linear-gradient(to bottom,#e67e22,#d35400,#e67e22);
    cursor:default;
    writing-mode: vertical-rl;
  }
  .skillBoardContent{
    background: linear-gradient(to bottom,#16a085 10%,#006266 90%,#16a085);
    border: 1px solid #006266;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
  }

  .skillContent{
    padding: 0;
    margin: 20px;
  }
