.introduce {
  height: 1000px;
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.introduce > * {
  margin: 50px 20px;
  height: 400px;
  width: 600px;
  border: 2px white solid;
}
