.blog::before {
  display: block;
  content: "";
  background-image: linear-gradient(black 50%, white);
  height: 120px;
}

.blog {
  height: 1200px;
  display: flex;
  flex-flow: column nowrap;
}
#blog-words-container {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blog-words {
  border: 5px #ccdd33 solid;
  height: 80%;
  width: 70%;
}
#blog-container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#blog-container > div {
  display: grid;
  border: 5px #ccdd33 solid;
  width: 300px;
  height: 500px;
  margin-top: 50px;
  grid-template-columns: 1;
  grid-template-rows: 3fr 1fr;
}

#blog-container > div > div {
  border: 3px #ffccee solid;
}
